.cont-carousel{
    height: auto;
    margin-bottom: 30px;
}

.card-carousel{
    display: flex;
    align-items: center;
}

.card-title{
    font-size: 22px!important;
    text-align: center;
}

.card-text{
    font-size: 39px!important;
}

.card-buy-button{
    background-color: rgb(10, 10, 10);
    width: 100%;
    &:hover{
        background-color: orange;
    }
}
.card-img{
    width: auto;
    height: 200px;
    max-width: 20rem;
}

@media (max-width: 1000px){
    .card-img{
        height: 250px;
    }
}


@media screen and (max-width: 750px){
    .card-img{
        height: 190px;
    }
}

@media screen and (max-width: 280px){
    .card-img{
        height: 150px;
    }
    .card-text{
        font-size: 20px!important;
    }
    .card-title{
        font: 20px!important;
    }
}

.unstyle, .unstyle:link, .unstyle:hover {
    color: inherit;
    text-decoration: inherit;
  }

