*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cards-about{
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
    text-align: left;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card-about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.card-img-about{
    width: 390px;
    height: 390px;
    border-radius: 500px;
    filter: grayscale(85%);
    transition: all 0.4s ease-in-out;
    &:hover{
        filter: grayscale(0%);
    }
}

.card-title-about{
    font-size: 3rem;
}

.card-description{
    font-size: 1.5rem;
}

@media screen and (max-width: 1400px){
    .cards-about{
        margin-top: 20px;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        text-align: center;
    }
    .card-img-about{
        filter: grayscale(0%);
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 560px){
    .cards-about{
        margin-top: 20px;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        text-align: center;
    }
    .card-img-about{
        filter: grayscale(0%);
        width: 200px;
        height: 200px;
    }
}

