.grid-produtos-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
  width: 100vw;
  gap: 100px;
  margin-top: 2em;
}

.product-list-item-page{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  transition: all 0.2s ease-in-out;
  width: 18rem;
  height: 22rem;
  cursor: pointer;
  &:hover {
    transform: scale(1.02);
    border: solid 1px rgb(0, 0, 0);
  }
}

.li-card-page {
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-product-list-page{
  width: auto;
  height: 100px;
}

.title-product-list-page{
  font-size: 3.5rem;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.description-product-list-page{
  font-size: 1rem!important;
  color: #000;
  text-align: center;
  text-transform: capitalize;
}

.price-product-list-page{
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.button-product-list-page{
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  &:hover{
    background-color: orange;
}
}